body {
  min-height: 100vh;
  overflow-y: hidden;
}

.home {
  min-height: inherit;
}

.hero {
  /* display: grid;
  place-items: center; */
  min-height: 70vh;
}

.enterOtpModal {
  position: absolute;
  content: "";
  top: 33%;
  left: 37.5%;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 10px, 10px, 10px, 10px, #000;
}
