PORT="server port number"
ORIGIN="frontend url"
DB_CONNECTION="db connection string"

SIGNUP_SECRET_KEY="secret_key_signup"
LOGIN_SECRET_KEY="secret_key_login"
LOGOUT_SECRET_KEY="secret_key_logout"
ACCESS_SECRET_KEY="secret_key_access"
FORGOT_SECRET_KEY="secret_key_forgot"
RESET_SECRET_KEY="secret_key_reset"
ADMIN_SECRET_KEY="secret_key_admin"

MAILTRAP_API_KEY="api_key_for_mailtrap"
RESEND_API_KEY="api_key_for_resend"