##  for the port, you can use any available port number, but make sure it does not conflict with other services
##  running on your machine. Commonly used ports for development are 3000, 4000, or 5000.

##  for the origin, you can use the URL of your frontend application. If you are running the frontend locally, 
##  you can use "http://localhost:3000" or "http://localhost:5173" depending on your setup.

##  for the database connection string, you can use a service like MongoDB Atlas to create a free cluster 
##  and get the connection string. Make sure to replace the username, password, and database name with your own values.

##  all the secret keys should be different and unique for each environment. 
##  You can generate them using a secure random string generator or a password manager.

##  for the Mailtrap API key, you can sign up for a free account at https://mailtrap.io/ and get your API key
##  from the dashboard. This will allow you to test email sending functionality in your application 
##  without sending real emails.

##  for the Resend API key, you can sign up for a free account at https://resend.com/ and get your API key
##  from the dashboard. This will allow you to test email sending functionality in your application.

##  also use mailtrap for testing and switch to resend for production. 
##  This will help you avoid sending real emails during development and testing.

## !!!! BUT MOST IMPORTANTLY, MAKE SURE TO KEEP YOUR .ENV FILE SECURE AND DO NOT COMMIT IT TO VERSION CONTROL!!!!.


PORT="server port number"
ORIGIN="frontend url"
DB_CONNECTION="db connection string"

SIGNUP_SECRET_KEY="secret_key_signup"
LOGIN_SECRET_KEY="secret_key_login"
LOGOUT_SECRET_KEY="secret_key_logout"
ACCESS_SECRET_KEY="secret_key_access"
FORGOT_SECRET_KEY="secret_key_forgot"
RESET_SECRET_KEY="secret_key_reset"
ADMIN_SECRET_KEY="secret_key_admin"

MAILTRAP_API_KEY="api_key_for_mailtrap"
RESEND_API_KEY="api_key_for_resend"

