body {
  position: relative;
  min-height: 100vh;
  overflow-y: hidden;
}

.hide {
  display: none;
}

.loaderContainer {
  z-index: 3;
}

.loaderBox {
  border-radius: 20px;
  width: fit-content;
}

.alertBox {
  border-radius: 10px;
}

.blur {
  filter: blur(2px);
  pointer-events: none;
}

fieldset {
  border-radius: 10px;
}

.loaderSpinner {
  width: 20px;
  height: 20px;
  border: 3px solid;
  border-radius: 50%;
  border-width: 5px;
  border-color: white transparent;
  animation: spin 1.3s ease infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.disablePointerEvents {
  pointer-events: none;
}
