body {
  min-height: 100vh;
  overflow-y: hidden;
}

.home {
  min-height: inherit;
}

.hero {
  /* display: grid;
    place-items: center; */
  min-height: 75vh;
  display: grid;
  place-items: center;
  width: 100%;
}

.enterOtpModal {
  position: absolute;
  content: "";
  top: 30%;
  left: 39%;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 10px, 10px, 10px, 10px, #000;
}
